.home-header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 5;
  grid-column-end: 7;
  padding: 1rem;
  place-self: center;

  &__title {
    padding: 0;
    margin: 0;
    text-align: center;
    border: none;
  }
}

.home-content {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0;
  justify-self: center;
  text-align: center;

  &__register-info {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border: solid 1px $border-color-primary;
    border-radius: 5px;
    margin: 0;
    padding: 0.8rem;
    background-color: $color-white;
  }
}

.text-unregistered {
  margin: 0;
  padding: 1rem;
}

.home-menu {
  list-style: none;
  padding: 0;
  margin: 3rem 0rem;

  &__item {
    margin: 1.5rem 0;
  }
}
