.login-header {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 8;
  padding: 1rem;

  &__title {
    padding: 0;
    margin: 0;
    text-align: center;
    border: none;
  }
}

.login-content {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: -1;
  padding: 0;
  justify-self: center;
  text-align: center;

  &__register-info {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0;
    padding: 0.8rem;
  }
}

.text-register {
  margin: 0;
  padding: 1rem;
}

.login-register-form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border: solid 1px $border-color-primary;
  border-radius: 10px;
  margin: 0;
  padding: 1rem;
  background-color: $color-white;
  max-width: 100%;

  &__input {
    margin: 1rem 1rem;
    padding: 1rem;
    border: none;
    border-radius: 5px;
    background-color: $border-color-primary;
    color: $color-black;
  }
}

.login-helper-link {
  display: block;
  margin: 4rem;
}
