.btn {
  font-family: $font-primary;
  font-size: 1.5rem;
  font-weight: $font-weight-xbold;

  &--start {
    font-size: 2.5rem;
  }
}

.menu-btn {
  font-size: 1.8rem;
  font-weight: $font-weight-regular;
}

.landing-header {
  &__title {
    font-size: 3.6rem;
  }
}

.landing-content {
  &__text-description {
    font-size: 1.5rem;
  }
}

.feature-card {
  &__text-content {
    font-size: 1rem;
  }
}

.heading-1 {
  font-size: 3.6rem;
  font-weight: $font-weight-bold;
}
.heading-2 {
  font-size: 2.4rem;
  font-weight: $font-weight-xbold;
}

.text-unregistered {
  font-size: 1.2rem;
  font-weight: $font-weight-regular;
}

.text-register {
  font-size: 1.2rem;
  font-weight: $font-weight-regular;
}

.login-register-form {
  &__input {
    font-size: 1.8rem;
    font-weight: $font-weight-bold;
    color: $color-form-input-placeholder;
  }
}

.login-helper-link {
  font-size: 1.3rem;
  font-weight: $font-weight-bold;
  text-decoration: none;
}
