.btn {
  font-family: $font-primary;
  font-size: 1.5rem;
  font-weight: $font-weight-xbold;

  &--start {
    font-size: 2.5rem;
  }

  &--addPlayer {
    text-transform: uppercase;
    font-size: 1.2rem;
  }
  &--myTeam {
    text-transform: uppercase;
  }

  &--search {
    text-transform: uppercase;
    font-size: 1.2rem;
  }
  &--reset {
    text-transform: uppercase;
    font-size: 1.2rem;
  }
}

.home-menu-btn {
  font-size: 1.8rem;
  font-weight: $font-weight-regular;
}

.landing-header {
  &__title {
    font-size: 3.6rem;
  }
}

.header {
  &__title {
    font-size: 3rem;

    &--span {
      display: block;
      font-size: 1.2rem;
      color: $color-black;
    }
  }
}

.landing-content {
  &__text-description {
    font-size: 1.5rem;
  }
}

.feature-card {
  &__text-content {
    font-size: 1rem;
  }
}

.heading-1 {
  font-size: 3.6rem;
  font-weight: $font-weight-bold;
}
.heading-2 {
  font-size: 2.4rem;
  font-weight: $font-weight-xbold;
}

.heading-4 {
  font-size: 1.5rem;
  font-weight: $font-weight-regular;

  &--playerName {
    font-weight: $font-weight-bold;
    font-size: 2.5rem;
  }
  &--position {
    font-weight: $font-weight-bold;
  }
  &--team {
    font-weight: $font-weight-bold;
  }
  &--quick-links {
    font-size: 1.3rem;
    font-weight: $font-weight-bold;
  }
  &--team-info {
    font-weight: $font-weight-bold;
    font-size: 1.3rem;
  }
  &--required-players-info {
    font-size: 1rem;
    font-weight: $font-weight-bold;
  }
}

.text-unregistered {
  font-size: 1.2rem;
  font-weight: $font-weight-regular;
}

.text-register {
  font-size: 1.2rem;
  font-weight: $font-weight-regular;
}

.login-register-form {
  &__input {
    font-size: 1.8rem;
    font-weight: $font-weight-bold;
    color: $color-form-input-placeholder;
  }
}

.login-helper-link {
  font-size: 1.3rem;
  font-weight: $font-weight-bold;
  text-decoration: none;
}

.tab-group {
  font-size: 1.4rem;

  &__tab {
    font-weight: $font-weight-light;
    &--active {
      font-weight: $font-weight-bold;
    }
  }
}

.option-menu {
  &__label {
    font-size: 1.2rem;
    font-weight: $font-weight-regular;
  }
  &__select {
    text-transform: uppercase;
    font-weight: $font-weight-regular;
  }
}

.playerCard-content {
  font-size: 1.5rem;
  font-weight: $font-weight-bold;
  letter-spacing: 0.1rem;
  line-height: 2rem;
}

.playerCard-content {
  &__header {
    font-weight: $font-weight-xbold;
  }
}

.required-players-info {
  font-size: 0.9rem;
  &__header {
    text-transform: capitalize;
  }
}

.required-player {
  text-transform: uppercase;
  font-weight: $font-weight-bold;
}

.filters {
  &__btn {
    font-size: 1.2rem;
    text-transform: capitalize;

    &--active {
      font-weight: $font-weight-xbold;
    }
  }
}

.filters-header__title {
  font-size: 1.2rem;
  text-transform: uppercase;
}
