// COLOURS
$color-canvas: #fafafa;

$color-white: #ffffff;

$color-black: #000000;

$color-green-primary: #00c208;

$color-purple-primary: #720f74;

// FONTS

$font-primary: "Nunito", sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-xbold: 800;
$font-weight-xxbold: 900;
