// COLOURS
$color-canvas: #fafafa;

$color-white: #ffffff;

$color-black: #000000;

$color-green-primary: #00c208;

$color-purple-primary: #720f74;

$color-form-input-placeholder: #606060;

$color-tab-inactive: #6f6f6f;

$color-stat-green: $color-green-primary;

$color-stat-red: #ff0000;

$color-tab-active-bg: #eeeeee;

// FONTS

$font-primary: "Nunito", sans-serif;
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;
$font-weight-xbold: 800;
$font-weight-xxbold: 900;

// ELEMENTS

$border-color-primary: #e5e5e5;
