.btn {
  text-decoration: none;
  color: $color-black;
  background-color: $color-white;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  padding: 1rem 1.5rem;
  cursor: pointer;

  &--login-register {
    display: block;
    color: $color-white;
    background-color: $color-purple-primary;
  }

  &--register {
    display: block;
    color: $color-white;
    background-color: $color-purple-primary;
    width: fit-content;
    padding: 0.5rem 1.5rem;
    margin: 0.2rem;
    place-self: center;
  }

  &--start {
    display: block;
    color: $color-white;
    background-color: $color-green-primary;
  }

  &--form-login {
    display: block;
    color: $color-white;
    background-color: $color-green-primary;
    margin: 1rem;
  }

  &--form-register {
    display: block;
    color: $color-white;
    background-color: $color-purple-primary;
    margin: 1rem;
  }

  &--addPlayer {
    color: $color-white;
    background-color: $color-green-primary;
    margin: 2rem;
  }

  &--myTeam {
    color: $color-black;
    background-color: $color-white;
    margin: 2rem;
    padding: 1.5rem;
    width: 15rem;
  }

  &--search {
    color: $color-white;
    background-color: $color-green-primary;
    margin: 2rem;
    width: 9.5rem;
  }
  &--reset {
    color: $color-white;
    background-color: $color-stat-red;
    margin: 2rem;
    width: 9.5rem;
  }
}

.home-menu-btn {
  display: flex;
  justify-content: flex-start;
  text-decoration: none;
  color: $color-black;
  background-color: $color-white;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: solid 1px #e5e5e5;
  padding: 1.5rem;
  margin: 0;
  cursor: pointer;

  &__icon {
    padding: 0 2rem;
  }
}
