.btn {
  text-decoration: none;
  color: $color-black;
  background-color: $color-white;
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  border: none;
  padding: 1rem 1rem;
  cursor: pointer;

  &--login-register {
    display: block;
    color: $color-white;
    background-color: $color-purple-primary;
  }

  &--register {
    display: block;
    color: $color-white;
    background-color: $color-purple-primary;
  }
  &--start {
    display: block;
    color: $color-white;
    background-color: $color-green-primary;
  }
}
