.Nav {
  background-color: #242124;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem;
  overflow-y: scroll;
}
